@import "./constants/style.scss";

.button {
    &__add-cart--wrapper {
        width: 176px;
        background-color: $color-black;
        // background-color: $color-light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        color: #fff;
        box-sizing: border-box;
    }

    &__add-cart--active {
        background-color: #fff;
        border: 1px solid $light-border;
        color: #27AE60 !important
    }

    &__favorite--wrapper {
        border: 1px solid #B4BDC4;
        box-sizing: border-box;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.badge-wrapper {
    background-color: #EB5757;
    border-radius: 20px;
    height: 12px;
    min-width: 12px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -20px;
    z-index: 2;
}

.models-count {
    margin: 0;
    margin-top: 8px;
}

.filter-input--wrapper {
    background: #FFFFFF;
    padding: 5px 25px;
    border: 1px solid #E2E6E9;
    box-sizing: border-box;
    font-size: 20px;
    height: 40px;
}


.main-limit {
    padding: 0 150px;
    max-width: 1600px;
    margin: auto;
    flex-grow: 1;
    width: -webkit-fill-available;;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.page-name-title {
    margin: 0;
}


@media screen and (max-width: 1100px) {
    .main-limit {
        padding: 0 100px;
    }
}

@media screen and (max-width: 800px) {
    .main-limit {
        padding: 0 50px;
    }
}

@media screen and (max-width: 600px) {
    .main-limit {
        padding: 0 25px;
    }
}

@media screen and (max-width: 400px) {
    .main-limit {
        padding: 0 20px;
    }
}

.main-title {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $color-black;
}

.second-title {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: $color-black;
}

.third-title {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $color-black;
}


.uppaercase-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-black;
}

.buttons-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-black;
}

.body-text {
    font-family: "Mont Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-black;
}


.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-light-grey;
}