@import "./constants/style.scss";

.button {
    &__add-cart--wrapper {
        width: 176px;
        background-color: $color-black;
        // background-color: $color-light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    &__add-cart--text {
        color: #ffffff
    }

    &__favorite--wrapper {
        border: 1px solid #B4BDC4;
        box-sizing: border-box;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.main-limit {
    padding: 0 150px;
}

.main-titile {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $color-black;
}

.second-title {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: $color-black;
}

.third-title {
    font-family: "Mont Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $color-black;
}


.uppaercase-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-black;
}

.buttons-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $color-black;
}

.body-text {
    font-family: "Mont Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-black;
}


.small-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-light-grey;
}