.slider-devices {
    .phone-card {
        max-width: 100%;
        padding: 20px;
        margin-bottom: 0;
    }

    .phone-card__image--wrapper {
        width: auto !important;
        height: 272px !important;
    }

    .phone-card__image--item {
        width: 100%;
        height: 100%;
    }
}

.slider-devices .slick-list .slick-slide>div {
    // max-width: 330px !important;
    // margin: auto;
    height: 100%;
    margin:  0 8px;
}

.slider-devices .slick-list {
    height: 586px;
}

.slider-devices .slick-track {
    height: 100%;
}

.slider-devices .phone-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
// .slider-devices .phone-card__content {
//     display: flex;
//     flex-direction: column;
// }