.slider-devices {
    .phone-card {
        max-width: 100%;
        padding: 20px;
    }

    .phone-card__image--wrapper {
        width: auto !important;
        height: 272px !important;
    }

    .phone-card__image--item {
        width: 100%;
        height: 100%;
    }
}

.slick-list .slick-slide>div {
    max-width: 330px !important;
    margin: auto;
}