@import "../../constants/style.scss";

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-width: 1px;
    border-style: solid;
    border-color: $darkness-light-border;
    transition: border-color 0.2s ease-in-out;


    &:hover {
        border-color: $color-black;
    }

    &__device {
        position: absolute;
        top: -60px;
        width: 32px;
        height: 32px;
        z-index: 2;
    }

    &__big-image {
        min-width: 32px;
    }

    &__big-image--left {
        margin-right: 16px;
    }

    &__big-image--right {
        margin-left: 16px;
    }

    &--left {
        right: 0;
    }

    &--right {
        right: 50px,
    }

    &--not-active {
        border-color: $light-border !important;
        cursor: initial;
    }

    &__arrow {

    }

    &__arrow--prev {

    }

    &__arrow--next {
        transform: rotate(180deg);
    }
}
