$padding-page: 24px;

// text
$uppercase-size: 12px;
$uppercase-line-height: 11px;

// color
$color-black: #313237;
$color-light-grey: #89939A;

//border
$light-border: #E2E6E9;
$darkness-light-border: #B4BDC4;

$green: #27AE60