@import "../../constants//style.scss";

.phones-page {
    &__title {
        margin-top: 40px;
        margin-bottom: 8px;
    }

    &__select-phones--wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 24px;
    }

    &__pagination-warpper {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    // &__conrol-fields--wrapper {
    //     margin-top: 40px;
    //     display: flex;
    //     align-items: center;
    // }

}