@import "../../../constants/style.scss";


.menu-toggle{
	flex:0 0 auto;
	width:40px;
	height:40px;
	border:1px solid rgb(15,15,15);
	cursor:pointer;
	position:relative;
}
.hamburger,.cross{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.hamburger span{
	display:block;
	width:18px;
	height:2px;
	margin-bottom:3px;
	overflow:hidden;
	position:relative;
}
.hamburger span:last-child{
	margin:0;
}
.hamburger span:before,.hamburger span:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgb(15,15,15);
	transform:translateX(-200%);
	transition:transform ease 300ms;
}
.hamburger span:after{
	transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
	transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
	transition-delay:150ms;
}
.menu-toggle:hover .hamburger span:before{
	transform:translateX(0);
}
.menu-toggle:hover .hamburger span:after{
	transform:translateX(200%);
}
.menu-toggle.active .hamburger span:before{
	transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
	transform:translateX(200%);
}
.cross span{
	display:block;
	width:18px;
	height:2px;
	background-color:rgb(15,15,15);
	transform:translateY(50%) rotate(45deg) scaleX(0);
	transition:transform ease 200ms;
}
.cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
	transition-delay:450ms;
	transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
	transform:translateY(-50%) rotate(-45deg) scaleX(1);
}


.header-navigation-burger{
    &__wrapper {
        box-shadow: 0px 1px 0px #E2E6E9;
        // position: relative;
    }

    &__line {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 64px;
        position: relative;
        z-index: 10;
        background-color: #fff;
        // background-color: lightgreen;
    }
}

.header-nav-burger {
    &__logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        width: 40px;
        cursor: pointer;
    }

    &__menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    &__nav-wrapper {
        // background-color: plum;
        position: absolute;
        width: 100%;
        right: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
        transform: translateY(calc(-100% - 64px));
        box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.4);

        &--active {
            // height: 100%;
            transition: all 0.3s ease-in-out;
            transform: translateY(0);

        }
    }

    &__item-wrapper {


        &--active {
            
        }
    }
    

    &__item {
        padding: 5px 20px;
        min-height: 40px;
        background-color: #fff;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: #E2E6E9;
            cursor: pointer;
        }
    }

    &__item--active {
        background-color: #89939A;
    }

    &__link {
        color: $color-black;
    }
}

.burger-icon {
    height: 64px;
}

.badge-wrapper--mobile-header {
    // top: 0px;
    // right: -25px;
}