@import "../../constants/style.scss";

.full-card {
    max-width: 1136px;
    margin: auto;

    &__images-wrapper {
        display: flex;
        align-items: center;
        margin-right: 64px;
        width: 560px;
    }

    &__big-image {
        // width: 464px;
        // height: 464px
        width: 100%;
        height: 100%;
        max-width: 464px;
        max-height: 464px;
    }

    &__big-image--itself {
        width: 100%;
        height: 100%;
        max-width: 464px;
        max-height: 464px;
        object-fit: contain;
    }

    &__small-image-list {
        display: flex;
        flex-direction: column;
        padding-right: 36px;
        max-height: 500px;
        overflow-y: scroll;
        // margin-right: 16px;

    }

    &__small-image {
        width: 80px;
        height: 80px;
        padding: 8px;
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px;
        border-color: #C4C4C4;
        cursor: pointer;

        &--active {
            border-color: $color-black;
        }

        &:not(:first-child) {
            margin-top: 16px;
        }

        &:hover {
            border-color: $color-black;
        }
    }

    &__small-image--itself {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__select-block {
        width: 512px;
    }

    &__available-color-list__wrapper {
        margin-bottom: 24px;
    }

    &__available-color-list {
        display: flex;
    }

    &__availabe-color-wrapper {
        width: 32px;
        height: 32px;
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: $light-border;
        transition: border 0.3s ease;
        border-radius: 50%;

        &--selected {
            border-color: $color-black;
        }

        &:not(:first-child) {
            margin-left: 8px;
        }

        &:hover {
            border-color: $color-black;
        }
    }

    &__availabe-color {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }

    &__availabe-ram-list {
        display: flex;
    }

    &__availale-ram-wrapper {
        padding: 7px;
        border-width: 1px;
        border-style: solid;
        border-color: #B4BDC4;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 8px;
        }

        &__selected {
            color: #FFFFFF;
            border-color: $color-black;
            background-color: $color-black;
        }
    }

    &__availale-ram {
        display: block;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    &__specifations {
        display: flex;
        position: relative;
    }

    &__select-titile {
        margin-bottom: 9px;
    }

    &__separate-line {
        background-color: $light-border;
        height: 2px;
    }

    &__price {
        margin-top: 32px !important;
        margin-bottom: 16px !important;
    }

    &__current-price {
        font-size: 32px !important;
    }

    &__short-info {
        max-width: 512px;
    }

    &__button-wrapper {
        margin-bottom: 32px;
    }


    &__id {
        position: absolute;
        right: 0;
    }

    &__description {
        display: flex;
    }

    &__second-title {
        margin-bottom: 16px;
    }

    &__summary {
        width: 560px;
        margin-right: 32px;
    }

    &__summary__title {
        margin-bottom: 16px;
        margin-top: 32px;
        font-family: "Mont" !important;
    }

    &__summary__description{
        color: #89939A !important;
    }

    &__tech-sepcification {
        margin-left: 32px;
        width: 512px;
    }

    &__tech-specifation__list {

    }

    &__tech-sepcification__item {
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width: 1000px) {
    .full-card {
        &__specifations {
            flex-direction: column;
            align-items: center;
        }

        &__images-wrapper {
            margin-right: 0;
            // align-self: center;
            margin-bottom: 50px;
        }

        &__description {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 850px) {
    .full-card {
        &__select-block {
            width: 100%;
            max-width: 512px;
        }

        &__description {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__summary {
            margin-right: 0;
            margin-top: 50px;
            width: 100%;
        }

        &__tech-sepcification {
            margin-left: 0;
            width: 100%;
        }
    }
}


@media screen and (max-width: 850px) {
    .full-card {
        &__images-wrapper {
            flex-direction: column-reverse;
            max-width: 560px;
            width: 100%;
        }

        &__small-image-list {
            margin-right: 0;
            margin-top: 50px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__small-image:not(:first-child) {
            margin-top: 0;
            margin-left: 16px;
        }

        &__big-image, 
        &__big-image--itself {
            height: 364px;
            width: 364px;
        }
    }
}

@media screen and (max-width: 420px) {
    .full-card {

        &__big-image, 
        &__big-image--itself {
            height: 264px;
            width: 264px;
        }

        &__small-image {
            width: 50px;
            height: 50px;
        }
    }
}