@import "../../constants/style.scss";

.cart {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        border-color: $darkness-light-border;
        padding-top: 31px;
        padding-bottom: 31px;
        padding-left: 27px;
        padding-right: 40px;
        max-width: 752px;

        &:not(:first-child) {
            margin-top: 16px;
        }

        &__preview {
            display: flex;
            align-items: center;
        }

        &__info {
            display: flex;
            align-items: center;
        }

        &__cross--icon {
            cursor: pointer;
        }

        &__image-wrapper {
            width: 66px;
            height: 66px;
            margin-left: 34px;
            margin-right: 31px;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &__title-wrapper {}

        &__title--text {
            max-width: 295px;
        }

        &__counter {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__count {
            margin-right: 13px;
            margin-left: 13px;
            min-width: 20px;
            text-align: center;
        }

        &__price-wrapper {
            margin-left: 30px;
            width: 75px;
            text-align: center;
        }
    }

    &__checkout {
        border-width: 1px;
        border-style: solid;
        border-color: $darkness-light-border;
        width: 368px;
        padding: 24px;
        height: max-content;
        margin-left: 16px;
    }

    &__total-items,
    &__total-price {
        text-align: center;
        margin: 0;
    }

    &__button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button {
        cursor: pointer;
        border-width: 1px;
        border-style: solid;
        border-color: $color-black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            background-color: #55565e;
            // color: $green;
            // border-color: $darkness-light-border;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $light-border;
        margin: 24px 0 24px 0;
    }

}

@media screen and (max-width: 900px) {
    .cart-item {
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 27px;
        padding-right: 27px;
    }

}

@media screen and (max-width: 700px) {

    .cart {
        &__button {
            width: 100%;
        }

        &__checkout {
            width: auto;
        }
    }
}

@media screen and (max-width: 600px) {



    .cart-item {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;

        &__info {
            flex-direction: column;
        }

        &__price-wrapper {
            margin: 0 !important;
        }

        &__price {
            margin: 0;
            margin-top: 5px;
        }

        &__preview {
            // position: relative;
        }

        &__cross {
            position: absolute;
            top: 2px;
            left: 6px;
        }

        &__image-wrapper {
            margin: 0;
        }

        &__title-wrapper {
            text-align: center;
        }
    }
}

@media screen and (max-width: 550px) {
    .cart {
        &__button {
            width: 100% !important;
        }

        &__checkout {
            width: auto !important;
            padding: 20px;
        }

        &__line {
            margin: 17px 0 17px 0;
        }

    }
}

@media screen and (max-width: 350px) {
    .cart {
        flex-direction: column;

        &__checkout {
            margin: 0;
            margin-top: 30px;
        }
    }
}